@model List<inzynierka.Models.CustomersViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista twoich klientów</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Dodaj nowego klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AddeDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DietLenght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DietName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ConsultationCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PlannedWeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddeDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DietLenght)
                </td>
                <th>
                    @Html.DisplayNameFor(model => item.DietName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultationCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedWeight)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section head {
    <link href="~/css/Datatable.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/js/Datatable.js"></script>
    <script src="~/js/ButifyIndexTable.js"></script>
}